<launch>
	<!-- node pkg="tf" type="static_transform_publisher" name="baselink_laser_publisher" args="0 0 0.1 0 0 0 base_footprint base_link  100"/-->
	
   <node name="arduino" pkg="ros_arduino_python" type="arduino_node.py" output="screen">
  	  <rosparam file="$(find ros_arduino_python)/config/My_arduino_params.yaml" command="load" />
   </node>
   
   <!--include file="$(find learning_joystick)/launch/learn_joy.launch" /-->
   
   
   <!-- include file="$(find robot_pose_ekf)/launch/robot_pose_ekf.launch" /-->
   
   
</launch>
